---
layout: archive
title: 
permalink: /publications/
author_profile: true
---

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
<div class="publications-list">
{% if site.publication_category %}
  <nav class="page__taxonomy">
    {% assign nav_item_count = 0 %}
    {% for category in site.publication_category %}
      {% assign has_posts = false %}
      {% for post in site.publications %}
        {% if post.category == category[0] %}
          {% assign has_posts = true %}
        {% endif %}
      {% endfor %}
      {% if has_posts %}
        {% if nav_item_count > 0 %}<span class="sep"> </span>{% endif %}
        <a href="#{{ category[0] | slugify }}" class="page__taxonomy-item">{{ category[1].title }}</a>
        {% assign nav_item_count = nav_item_count | plus: 1 %}
      {% endif %}
    {% endfor %}
  </nav>

  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2 id="{{ category[0] | slugify }}">{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
</div>


