{% include base_path %}

<footer class="custom-footer">
  <div class="custom-footer__icons">
    {% if site.author.github %}
      <a href="https://github.com/{{ site.author.github }}" target="_blank" rel="noreferrer">
        <i class="fab fa-github"></i>
      </a>
    {% endif %}

    {% if site.author.linkedin %}
      <a href="{{ site.author.linkedin }}" target="_blank" rel="noreferrer">
        <i class="fab fa-linkedin"></i>
      </a>
    {% endif %}

    {% if site.author.researchgate %}
      <a href="{{ site.author.researchgate }}" target="_blank" rel="noreferrer">
        <i class="fab fa-researchgate"></i>
      </a>
    {% endif %}
  </div>

  <div class="custom-footer__copy">
    &copy; {{ site.time | date: '%Y' }} {{ site.name | default: site.title }}.
  </div>
</footer>


